---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout>
	<div class="content">
		<h2>Home</h2>
		<p>Lorem ipsum</p>
		<a href="/books">Take a look at my reviews</a>
	</div>
</BaseLayout>

<style>
	.content{
		text-align: center;
	}
	a {
		display: inline-block;
		background-color: #7a49c5;
		color: #fff;
		padding: 6px 10px;
		border-radius: 2px;
		text-decoration: none;
		margin-top: 20px;
	}
	a:hover {
		background-color: #965ee9;
	}
</style>
